@charset "utf-8";

body {
	font-family: 'Droid Sans', sans-serif;
	line-height: 1.4;
	background-color: #EEE;
	font-size: 16px;
	color: #222;
	padding: 0;
	max-width: 800px;
	margin: 50px auto;
}

h1 {
	line-height: 1.2;
	font-size: 1.8em;
}

h1.title {
	font-size: 2em;

	a {
		text-decoration: none;
		color: #222;
	}
}

.posts {
	list-style-type: none;
	padding: 0;
}

span.postmeta {
	line-height: 0.6;
}

@media (min-width: 800px) {
	img {
		padding: 15px;
	}
}

@media (max-width: 800px) {
	body {
		margin: 15px auto;
		padding: 10px;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		float: none;
	}
}

p > code {
	background-color: #DDD;
}

code {
	font-family: 'Source Code Pro', monospace;
	background-color: transparent;
}

.comments {
	width: 100%;
}

.comment {
	p {
		padding-left: 50px;
	}
}

.comment-icon {
	padding: 0 10px;
	width: 32px;
	height: 32px;
}

pre.highlight {
	padding: 16px 16px;
	overflow-x: scroll;
}

.highlight {
	background-color: #444;
	margin: 0 0;
	color: #f8f8f2;
}

.cimage {
	margin: 0 auto;
	display: block;
}

footer {
	font-size: 0.8em;
	font-style: italic;
}

.twitter-tweet {
	margin: 0 auto;
	display: block;
}

iframe {
	margin: 0 auto;
	display: block;
}