---
layout: compress
---
<!DOCTYPE html>
<html lang=en>
<head>
	<title>{{ site.title }}</title>
	<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Droid+Sans%7CSource+Code+Pro">
	<!--<link rel=stylesheet href="/css/main.css"/>-->
	<style type="text/css">
		{% capture maincss %}{% include main.scss %}{% endcapture %}
		{{ maincss | scssify }}
	</style>
	<link rel=stylesheet href="/css/highlight.css"/>
	<meta name=viewport content="width=device-width, initial-scale=1">
	{% feed_meta %}
</head>
<body>

<h1 class="title"><a href="/{{ site.baseurl }}">{{ site.title }}</a></h1>

{{ content }}

<br/>
<footer>
	This site can be edited on <a href="https://github.com/Thinkofname/thinkofname.github.io">Github</a>
</footer>
</body>
</html>